<ion-header>
  <ion-navbar>
    <ion-title>Contacts</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToAddPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-searchbar (input)="search($event)"></ion-searchbar>
<ion-content>
    <ion-list>
      <ion-item *ngFor="let user of contacts" (click)="viewContact()">
        <ion-avatar item-left>
            <img [src]="user.avatar">
        </ion-avatar>

        <h2>{{user.name}}</h2>
        <p>{{user.phoneNumber}}</p>
        <button ion-button clear (click)="test($event);">
            <ion-icon name="star-outline"></ion-icon>
        </button>
      </ion-item>
    </ion-list>


</ion-content>
