page-home {

   ion-item{
      button[ion-button]{
         position : absolute;
         top: 20px;
         right: 10px;
      }
      button[ion-button] ion-icon{
         font-size: 30px;
      }
   }
}
