<!--
  Generated template for the AddContact page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Contact</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label stacked>Contact Name</ion-label>
    <ion-input [(ngModel)]="contact.name" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Phone Number</ion-label>
    <ion-input [(ngModel)]="contact.phoneNumber" type="tel"></ion-input>
  </ion-item>

  <ion-item>
    <label class="label label-md">Select Avatar</label>
    <ion-grid>
      <ion-row wrap>
        <ion-col *ngFor="let avatar of avatars" width-25>
          <button class="no-padding" (click)="selectAvatar(avatar)">
            <img [src]="avatar" [class.active]="avatar == contact.avatar" />
          </button>
        </ion-col>    
      </ion-row>
    </ion-grid>
  </ion-item>

  <div padding>
    <button (click)="addContact()" ion-button block>Save</button>
  </div>
</ion-content>
