<!--
  Generated template for the ViewContact page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Contact Details</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      <img src="assets/images/image-1.jpg">
      Jasper de Jesus
    </ion-card-header>
    <ion-list>
      <ion-item>
        09151991797
        <ion-note item-right>Mobile Number</ion-note>
      </ion-item>
      <button ion-item>
        <ion-icon name="create" item-left></ion-icon>
        Edit
      </button>
      <button ion-item>
        <ion-icon name="trash" item-left></ion-icon>
        Delete
      </button>
    </ion-list>
  </ion-card>
</ion-content>
